@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 223, 10%, 14%;
    --foreground: 240, 2%, 92%;

    --lime: 76, 83%, 58%;
    --black: 230, 11%, 11%;
    --graphite: 223, 10%, 14%;
    --darkGray: 224, 9%, 23%;
    --lightGray: 224, 5%, 45%;
    --white: 240, 2%, 92%;
    --green: 168, 97%, 34%;
    --blue: 240, 83%, 58%;
    --violet: 245, 100%, 76%;
    --lightViolet: 235, 45%, 77%;
    --rose: 357, 100%, 73%;
    --peach: 18, 100%, 86%;
    --beige: 36, 100%, 91%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
