@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 230, 11%, 11%;
    --foreground: 240, 2%, 92%;
    --lime: 76, 83%, 58%;
    --black: 230, 11%, 11%;
    --graphite: 223, 10%, 14%;
    --darkGray: 224, 9%, 23%;
    --lightGray: 224, 5%, 45%;
    --white: 240, 2%, 92%;
    --green: 168, 97%, 34%;
    --blue: 240, 83%, 58%;
    --violet: 245, 100%, 76%;
    --lightViolet: 235, 45%, 77%;
    --rose: 357, 100%, 73%;
    --peach: 18, 100%, 86%;
    --beige: 36, 100%, 91%;
    --oswald: "Oswald", sans-serif;

    --bg-color-modal: rgba(170, 174, 223, 1);
    --overlay-modal: rgba(0, 0, 0, 0.8);
    --error: #da3c3c;
    --z-index-modal: 100;
  }
}

body {
  font-family: "Inter", sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.running-line-container {
  background: #212121;
  overflow: hidden;
  height: 64px;
  color: aliceblue;
  position: relative;
  margin-bottom: 12px;
  @media screen and (min-width: 430px) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 744px) {
    height: 94px;
  }
  @media screen and (min-width: 1440px) {
    height: 112px;
  }
  @media screen and (min-width: 1920px) {
    height: 144px;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    height: 64px;
    transform: translateX(100%);
    @media screen and (min-width: 744px) {
      height: 94px;
    }
    @media screen and (min-width: 1440px) {
      height: 112px;
    }
    @media screen and (min-width: 1920px) {
      height: 144px;
    }

    p {
      text-align: center;
      width: 310px;
      @media screen and (min-width: 430px) {
        width: 340px;
      }
      @media screen and (min-width: 744px) {
        width: 445px;
      }
      @media screen and (min-width: 1280px) {
        width: 720px;
      }
      @media screen and (min-width: 1280px) {
        width: 725px;
      }
      @media screen and (min-width: 1920px) {
        width: 900px;
      }
    }
  }

  .ticker-wrapper__first-half,
  .ticker-wrapper__second-half {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    animation: ticker 60s infinite linear forwards;
  }

  .ticker-wrapper__second-half {
    animation: 60s ticker 30s infinite linear forwards;
  }
}

@keyframes ticker {
  0% {
    transform: translate(100%, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
