@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

@font-face {
  font-family: "Fixel Display";
  font-weight: 100;
  src: url("/fonts/FixelDisplay-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "Fixel Display";
  font-weight: 200;
  src: url("/fonts/FixelDisplay-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Fixel Display";
  font-weight: 300;
  src: url("/fonts/FixelDisplay-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Fixel Display";
  font-weight: 400;
  src: url("/fonts/FixelDisplay-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Fixel Display";
  font-weight: 500;
  src: url("/fonts/FixelDisplay-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Fixel Display";
  font-weight: 700;
  src: url("/fonts/FixelDisplay-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Fixel Display";
  font-weight: 800;
  src: url("/fonts/FixelDisplay-Bold.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 230, 11%, 11%;
    --foreground: 240, 2%, 92%;
    --lime: 76, 83%, 58%;
    --black: 230, 11%, 11%;
    --graphite: 223, 10%, 14%;
    --darkGray: 224, 9%, 23%;
    --lightGray: 224, 5%, 45%;
    --white: 240, 2%, 92%;
    --green: 168, 97%, 34%;
    --blue: 240, 83%, 58%;
    --violet: 245, 100%, 76%;
    --lightViolet: 235, 45%, 77%;
    --rose: 357, 100%, 73%;
    --peach: 18, 100%, 86%;
    --beige: 36, 100%, 91%;
    --oswald: "Oswald", sans-serif;

      --bg-color-modal:rgba(170, 174, 223, 1);
      --overlay-modal: rgba(0, 0, 0, 0.8);
      --error: #DA3C3C;
  ;

      /*  Z-indexes*/
      --z-index-modal: 100;
  }
}

body {
  font-family: "Fixel Display", sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.running-line-container {
  background: #212121;
  overflow: hidden;
  height: 64px;
  color: aliceblue;
  position: relative;
  margin-bottom: 15px;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    height: 64px;
    transform: translateX(100%);

    p {
      width: 293px;
      @media screen and (min-width: 430px) {
        width: 330px;
      }
      @media screen and (min-width: 744px) {
        width: 425px;
      }
    }
  }


  .ticker-wrapper__first-half, .ticker-wrapper__second-half {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    animation: ticker 60s infinite linear forwards;
  }

  .ticker-wrapper__second-half {
    animation: 60s ticker 30s infinite linear forwards;
  }
}

@keyframes ticker {
  0% {
    transform: translate(100%, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
